In [1]:
import pandas as pd
import os
from Bio import SeqIO
import glob

In [2]:
os.chdir("/fs/scratch/PAS0439/Ming/databases/anderson_2017_rumen_virome/")

In [3]:
rvd = []
records = SeqIO.parse("/fs/ess/PAS0439/MING/virome/checkv_trimmed_for_dowmstream/RVD_resources/RVD.fa", "fasta")
for record in records:
    rvd.append(record.id)

In [4]:
mapping_out = glob.glob("mapping_results/*.txt")

In [5]:
mapped = {}
for f in mapping_out:
    sample = f.split("/")[1].split(".")[0]
    df = pd.read_csv(f, sep = "\t")
    df = df.set_axis(["votu", "mapping"], axis = 1)
    votu = list(df.query('votu in @rvd').query('mapping > 0').votu)
    mapped[sample] = votu

In [6]:
total = set()
for f in mapped.values():
    total = total|set(f)

In [7]:
len(total)

706

In [8]:
host = pd.read_csv("/fs/ess/PAS0439/MING/virome/checkv_trimmed_for_dowmstream/RVD_resources/host_match.tsv", sep = "\t")

In [9]:
len(set(host.query('sseqid in @total').sseqid))

103

In [10]:
host.query('sseqid in @total').query('domain == "d__Archaea"')

,qseqid,sseqid,domain,phylum,class,order,family,genus,species,source
6241,LOPS01000033.1,ERR3201411_88911||full,d__Archaea,p__Thermoplasmatota,c__Thermoplasmata,o__Methanomassiliicoccales,f__Methanomethylophilaceae,g__Methanomethylophilus,s__Methanomethylophilus sp001481295,spacer
6242,LOPS01000033.1,ERR3275136_16345||full,d__Archaea,p__Thermoplasmatota,c__Thermoplasmata,o__Methanomassiliicoccales,f__Methanomethylophilaceae,g__Methanomethylophilus,s__Methanomethylophilus sp001481295,spacer
81159,FMID01000070.1,ERR4297103_120081||full,d__Archaea,p__Halobacteriota,c__Methanomicrobia,o__Methanomicrobiales,f__Methanoculleaceae,g__Methanoculleus,s__Methanoculleus chikugoensis_A,prophage
83114,CAJHZY010000045.1,ERR4297103_120081||full,d__Archaea,p__Halobacteriota,c__Methanosarcinia,o__Methanosarcinales,f__EX4572-44,g__Ethanoperedens,s__,prophage

In [11]:
taxa = pd.read_csv("/fs/ess/PAS0439/MING/virome/checkv_trimmed_for_dowmstream/taxonomy/output/votu_taxa_with_crAss.tsv", sep = "\t")

In [12]:
taxa.query('votu in @total').query('family != "Unassigned"')

                           votu        family
62       ERR3224568_56432||full  Siphoviridae
548     SRR4435556_164154||full    Myoviridae
894     SRR8404214_259513||full   Podoviridae
1055    ERR3275136_203708||full  Siphoviridae
1319    SRR8404214_113355||full    Myoviridae
...                         ...           ...
366767  SRR873603_2777387||full    Myoviridae
374132  SRR873608_3844218||full  Siphoviridae
383998    SRR948132_83559||full  Siphoviridae
384015     SRR948136_1366||full  Siphoviridae
384048   SRR948137_137921||full  Siphoviridae

[99 rows x 2 columns]

In [13]:
genus_taxa = pd.read_csv("/fs/ess/PAS0439/MING/virome/checkv_trimmed_for_dowmstream/taxonomy/output/votu_genus_taxa.csv")

In [14]:
genus_taxa.query('votu in @total')

                          votu         order        family         genus
91     SRR4435556_164154||full  Caudovirales    Myoviridae    Eponavirus
790      SRR948132_89838||full  Caudovirales    Myoviridae  Lagaffevirus
909      SRR948137_56762||full  Caudovirales  Siphoviridae       C5virus
984   ERR3275100_1217171||full  Caudovirales    Myoviridae  Taranisvirus
1431   SRR1267595_532197||full  Caudovirales    Myoviridae    Eponavirus
1446   SRR4435566_133361||full  Caudovirales    Myoviridae  Lagaffevirus

In [15]:
set(taxa.query('votu in @total').query('family != "Unassigned"').family)

{'Microviridae', 'Myoviridae', 'Podoviridae', 'Siphoviridae'}

In [16]:
solden_mapping = glob.glob("/fs/scratch/PAS0439/Ming/databases/Solden2018/coverm/*.txt")

In [17]:
mapped_solden = {}

for f in solden_mapping:
    sample = f.split("/")[-1].split(".")[0]
    df = pd.read_csv(f, sep = "\t")
    df = df.set_axis(["votu", "mapping"], axis = 1)
    votu = list(df.query('votu in @rvd').query('mapping > 0').votu)
    mapped_solden[sample] = votu

total_solden = set()
for f in mapped_solden.values():
    total_solden = total_solden|set(f)

In [18]:
len(total_solden)

789

In [19]:
genus_taxa.query('votu in @total_solden')

                          votu         order      family          genus
314    SRR8387714_954670||full  Caudovirales  Myoviridae     Eponavirus
502     SRR8397890_12704||full  Caudovirales  Myoviridae     Eponavirus
506  SRR12529266_2611482||full  Caudovirales  Myoviridae  Toutatisvirus
984   ERR3275100_1217171||full  Caudovirales  Myoviridae   Taranisvirus

In [20]:
len(set(host.query('sseqid in @total_solden').sseqid))

126

In [21]:
len(set(host.query('sseqid in @total_solden').phylum))

15